.animation1-container{
   display: flex;
    flex-direction: row-reverse;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: rgb(235, 247, 247);
    background-color: #EA4335;
}

.animation1-containerp, li, h1, h2, i , p{
    color: #ffffff;
}

.animation1-container h5 {
    color: #FBBC05;
}
