/* fil card */

/* apply perspective to the 3D space */
.flipcard {
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(156, 156, 156, 0.15);
    transition: all 0.3s ease-in-out;
    width: 285px;
    height: 418px;
    perspective: 600px;
}

/* set the card transform origin to be at the center of the card */
.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
/* reset position to absolute in order to postion cards in 3d space */
/* hide the backside of the cards when flipped */
.card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.frontface, .frontface2 {
    border-radius: 4px;
    background: white;
}

.frontface h2 {
    margin-top: 50%;
    text-align: center;
    color: black;
}
/* rotate backface with 3d transform */
.backface {
    color: #4285F4;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.705);
    transform: rotateX(-180deg);
    display: flex;
    font-size: smaller;
    width: 285px;
    height: 438px;

}
/* rotate when is-flipped class present */
.card.is-flipped {
    transform: rotateX(-180deg);
}

.fp-hover-selector{
    position: absolute;
    right: 16%;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(156, 156, 156, 0.15);
    transition: all 0.3s ease-in-out;
    width: 285px;
    height: 418px;
    perspective: 600px;
}