/* animatable hover initial state */
.hover-card-container {
    display: flex;
    width: 308px;
    height: 418px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(156, 156, 156, 0.15);
    transition: all 0.3s ease-in-out;
    /* margin-top: 20px; */
}

/* Hidden psudo element for faster rendering of animation */
.hover-card-container::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 308px;
    height: 418px;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

/* scale up intial box state */
.hover-card-container.hovered {
    transform: scale(1.1, 1.1);
}
/* change the opacity of the hidden psudo element */

.hover-card-container.hovered::after {
    opacity: 1;
}
