/* Menu Bar Stylesheet */

.menu-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    box-shadow: 1px 4px 20px 0px lightgrey;
}

.menu-bar-container p, li, h1 {
    color: black !important;
}

.menu-bar-container i {
    color: #34A853 !important;
}

.menu-bar-container > header {
    font-size: x-large;
    font-weight: bold;
    margin: auto;
}

.menu-bar-nav {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.menu-bar-shadow {
    /* top: 60px;
    position: absolute;
    background-color: white;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: -1px 7px 17px 1px rgb(224, 224, 224);
    width: 100%; */
    top: 60px;
    position: absolute;
    background-color: white;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0px -4px 8px 5px white;
    width: 100%;
}

.animations-dd-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}