/* CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: left;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%
}

 h2 {
    font-size: x-large;
    font-weight: 800;
}

 p {
    font-weight: 500;
    margin: 5px;
}

.hidden {
  display: none;
}