/* CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: left;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%
}

 h2 {
    font-size: x-large;
    font-weight: 800;
}

 p {
    font-weight: 500;
    margin: 5px;
}

.hidden {
  display: none;
}

	code {
    /* background: rgba(255, 255, 255, 0.05); */
    z-index: -1; 
    position:relative;
    border-radius: 0.25em;
    /* border: solid 1px rgba(255, 255, 255, 0.15); */
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
    /* padding-top: 50%; */
    margin: 0;
    overflow: hidden;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		/* margin: 0 0 2em 0; */
	}

		pre code {
    /* display: block; */
    line-height: 1.75em;
    /* padding: 1em 1.5em; */
    /* overflow-x: auto; */
    /* margin-top: 50%; */
    }
    
