.welcome-banner-container {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: rgb(235, 247, 247);
}

.welcome-b-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px;
    text-align: center;
}

.welcome-b-text h2 {
    font-size: x-large;
    font-weight: 800;
}

.welcome-b-text p {
    font-weight: 500;
    margin: 5px;
}

.welcome-paw {
    font-size: xx-large;
    text-align: center;
    margin: auto;
}

/* animatable hover initial state */
.hover-card-container {
    display: flex;
    width: 280px;
    height: 380px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(156, 156, 156, 0.15);
    transition: all 0.3s ease-in-out;
}
