.welcome-banner-container {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #4285F4;
}

.welcome-banner-container p, li, h1, h2, i {
    color: #ffffff;
}

.welcome-b-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px;
    text-align: center;
}

.welcome-paw {
    font-size: xx-large;
    text-align: center;
    margin: auto;
}


