.welcome-banner-container {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #4285F4;
}

.welcome-banner-container p, li, h1, h2, i {
    color: #ffffff;
}

.welcome-b-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px;
    text-align: center;
}

.welcome-paw {
    font-size: xx-large;
    text-align: center;
    margin: auto;
}

/* animatable hover initial state */
.hover-card-container {
    display: flex;
    width: 280px;
    height: 380px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(156, 156, 156, 0.15);
    transition: all 0.3s ease-in-out;
}
